<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
    <p th:text="${person.getFullName() + ', ' + person.getDateOfBirth()}"></p>
    <div th:switch="${books.isEmpty()}">
        <div th:case="False">
            <hr>
            <p><b>Книги:</b></p>
            <div th:each="book: ${books}">
                <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>
            </div>
        </div>
        <p th:case="True">Человек пока не взял ни одной книги</p>
        <p th:case="*">Произошла ошибка при отображении списка книг</p>
    </div>
    <hr>

    <form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
        <input type="submit" value="Изменить">
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>