<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
    <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

    <div th:switch="${book.getPersonId()}">
        <div th:case="null">
            <p>Эта книга сейчас свободна. Кому назначить ее?</p>
            <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
                <label for="person">Выберите человека </label>
                <select th:object="${person}" th:field="*{id}" id="person">
                    <option th:each="person : ${people}" th:value="${person.getId()}"
                            th:text="${person.getFullName()}"></option>
                </select>
                <input type="submit" value="Назначить книгу">
            </form>
        </div>

        <div th:case="*">
            <p>Книга сейчас у: <div th:text="${bookOwner.getFullName()}"></div></p>
            <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
                <input type="submit" value="Освободить книгу">
            </form>
        </div>
    </div>

    <hr>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Изменить">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>